/* Container for the radar map panel */
.radar-map-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 20px; 
  gap: 20px;
  min-width: 500px;
  width: 100%;
}


/* .radar-map {
  flex: 0 1 30%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 10px; 
  background-color: #ffffff;
  overflow: hidden;
}

.responsive-container {
  position: relative; 
  width: 100%;
  height: auto; 
  padding-bottom: 70%; 
}

.radar-chart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px; 
}


.radar-legend {
  text-align: center;
  padding-bottom: 10px;
}


.radar-title {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
} */
